@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/* *shared style */
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.primary-btn {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #fff;
  font-weight: 700;
  padding: 18px 35px;
  letter-spacing: 1.1px;
}
/* nav related styles  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  color: #474747;
  font-size: 20px;
  text-decoration: none;
}
